html,
body {
    padding: 0;
    margin: 0;
    font-family: "나눔바른고딕", "NanumBarunGothic", sans-serif;
    line-height: 1.5;
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

button {
    outline: none;
}

img {
    max-width: 100%;
}
